{% extends 'base.html' %} {% load static %} {% block content %}
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title">Delete Fire Truck</div>
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h3>Confirm Delete</h3>
              <form method="post">
                {% csrf_token %}
                <p>
                  Are you sure you want to delete "<strong
                    >{{ object.truck_number }}</strong
                  >"?
                </p>
                <button type="submit" class="btn btn-danger">
                  Yes, delete
                </button>
                <a href="{% url 'fireTruck-list' %}" class="btn btn-secondary"
                  >Cancel</a
                >
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
